.RData
.Ruserdata
.DS_Store
template.typ
*_files/
.Rproj.user
.Rhistory
/.quarto/
_site/
.vscode/
.Renviron
/.luarc.json
tests/*
!tests/regresion/
**/*.quarto_ipynb
*.pdf
!tests/regresion/*.pdf
*.html
.positai
example-handout_cache
example.typ
example-handout.typ
